.inline-image {
  display: inline-block;
  background-size: contain;
  min-height: 1em;
  min-width: 1em;
  background-repeat: no-repeat;
  background-position: center center;
}

.published_checkbox {
  font-size: .8em;
  float: left;
}
