.checkbox_component {
  display: inline-block;
  text-decoration: none;
  color: #222;
  text-align: left;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
  }
  border-radius: 5px;
  padding: .25em 1em;
  cursor: pointer;
  &:before {
    background: white;
    box-shadow: inset 0 0 0 2px white;
    display: inline-block;
    border: 1px solid gray;
    margin-right: .5em;
    width: 1em;
    height: 1em;
    content: ' ';
  }
  transition: all 500ms;
  &.checked {
    &:before {
      background: #444;
      border: 1px solid gray;
      box-shadow: inset 0 0 0 2px white;
    }
  }
}